{{ define "main" }}
    <div class="content">
        <article class="post">
            <h1 class="postTitle">{{ .Title }}</h1>
            {{ partial "post-meta.html" . }}
            <section class="postContent">
                {{ .Content }}
            </section>
        </article>

        {{ $related := .Site.RegularPages.Related . | first 5 }}
        {{ with $related }}
            <div class="related">
                <h1>Similar posts</h1>
                {{ range . }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}
