{{ define "main" }}
    <div id="heroMessage">
        <div id="heroTitle">
            <h1>
                {{ .Site.Params.heroTitle }}
            </h1>
        </div>
        <p id="heroBlurb">
            {{ partial "hero-blurb" . }}
        </p>
    </div>

    <div class="content">
        {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
        {{ range $paginator.Pages }}
            {{ if eq .Type "posts" }}
                {{ partial "post-preview.html" . }}
            {{ end }}
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </div>
{{ end }}
