$color-off-white: #FFFFEA;
$color-light-gray: #E7E7E7;
$color-peru: #CF6B44;
$color-orange: #FD6816;
$color-white-blue: #E9FFFC;
$color-blue: #244894;
$color-light-blue: #5887C3;
$color-midnight-blue: #233173;
$color-black: #333333;
$color-yellow: #F9CF5A;
$color-dim-purple: #745674;
$color-dark-purple: #4E3E6D;
