.heroMessage {
    color: $color-off-white;
    font-size: 1rem;
    margin: 0 auto;
    background-color: $color-bg;
    margin-top: 0;
    text-align: center;
    padding-bottom: 3rem;

    h1 {
        margin: 0 auto;
        padding: 2rem 0;
        border: 1px solid $color-light-blue;
        max-width: 600px;
    }
}

.yellowHighlight {
    color: $color-yellow;
}

.blueHighlight {
    color: lighten($color-light-blue, 5%);
}

.orangeHighlight {
    color: lighten($color-orange, 15%);
}

.heroBlurb {
    margin: 3rem auto 0 auto;
    max-width: 500px;
}
