footer {
    background-color: $color-bg;
    color: $color-off-white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        text-align: center;
    }

    a {
        color: $color-light-blue;

        &:hover {
            border-color: $color-light-blue;
        }
    }
}
