$header-text-color: $color-off-white;
$header-hover-color: lighten($color-light-blue, 20%);

.headerElement {
    display: inline-block;
    padding: 0.1vh 1vw;
    line-height: 3rem;
}

.header {
    padding: 0.5vh 2vw;
    display: block;
    overflow: hidden;
    background-color: $color-bg;
    margin-bottom: -1px;

    a {
        color: $header-text-color;
        border: none;
        font-family: $default-font;
        transition: ease-in-out color 0.1s;

        &:hover {
            color: $header-hover-color;
        }
    }

    .listLink {
        text-transform: uppercase;
    }
}

.title {
    @extend .headerElement;
    font-size: 2rem;
    font-family: lazer84;
    float: left;
}

.linkMenu {
    @extend .headerElement;
    line-height: 3.5rem;
    font-size: 1.2rem;
    margin: 0;
    margin-left: 1em;
    float: left;

    li {
        margin: 0 0.5em;
    }
}

.socialLinks {
    float: right;
}

.githubLink, .twitterLink, .soundcloudLink {
    vertical-align: middle;
    fill: $header-text-color;
    margin-top: -6px;
    transition: ease-in-out fill 0.1s;

    &:hover {
        fill: $header-hover-color;
    }
}

.twitterLink {
    &:hover {
        .twitterLinkBack {
            fill: $header-hover-color;
        }
    }

    .twitterLinkBack {
        transition: ease-in-out fill 0.1s;
        fill:$header-text-color;
    }

    .twitterLinkFore {
        fill:$color-bg;
    }
}

@media screen and (max-width: 670px) {
    .header {
        padding: 1.5vh 1vw;
        overflow: hidden;

        .title {
            margin-bottom: 0;
        }
    }

    .headerElement {
        text-align: center;
        display: block;
        float: none;
        width: 100%;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    .linkMenu {
        margin-top: 0;

        li {
            font-size: 0.8em;
        }

        svg {
            width: 90%;
        }
    }

    .socialLinks {
        margin: 0 auto 1em auto;
        padding: 0;
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}
